# Supabase Database URL (Use the Pooler string for IPv4/IPv6 compatibility)
DATABASE_URL=postgresql://postgres.wavdphwibwuykxvboytq:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
PORT=3000
NODE_ENV=development
